@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
foot, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
foot, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	background: #f5f7fa;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #52575c;
	line-height: 1.75em;
	font-size: 14pt;
}

ol, ul {
	list-style: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		color: #52575c;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

	h2 {
		font-size: 2em;
		line-height: 1.25em;
	}

	h3 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.features {
		margin-bottom: 1.5em;
	}

	.feature {
		text-align: center;
	}

/* Section y Article */

	.row > section, .row > article {
		margin-bottom: 0;
	}
	header > p {
		display: block;
		color: #f35858;
		padding: 0.75em 0 1em 0;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	header.major {
		text-align: center;
	}

/* container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1200px;
	}

		@media screen and (max-width: 1280px) {
			.container {
				width: 960px;
			}

		}

		@media screen and (max-width: 1080px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 820px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

		}

		@media screen and (max-width: 480px) {

			.container {
				width: 100%;
			}

		}

/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		margin-top: -50px;
		margin-left: -50px;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row > .col-1 {
			width: 50%;
		}

		.row > .col-2 {
			width: 100%;
		}

		.row > * {
			padding: 50px 0 0 50px;
		}


/* imagenes */

	.imagen {
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		display: inline-block;
		outline: 0;
		border: 0;
	}

		.imagen img {
			display: block;
			width: 100%;
		}


		.imagen.featured {
			display: block;
			width: 90%;
			margin: 0 0 3em 0;
		}

	a.imagen:hover {
		opacity: 0.85;
	}

/* Listas */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

	ul li {
		padding-left: 0.5em;
	}

	ol {
		list-style: decimal;
		padding-left: 1.25em;
	}

	ol li {
		padding-left: 0.25em;
	}

/* accion */

	ul.accion {
		padding-top: 1em;
		list-style: none;
		padding-left: 0;
	}

/* division */

	ul.division {
		list-style: none;
		padding-left: 0;
	}

	ul.division li {
		border-top: solid 1px #d2d7dc;
		padding-top: 2em;
		margin-top: 2em;
		padding-left: 0;
	}

/* Menu */

	ul.menu {
		list-style: none;
		padding-left: 0;
	}

	ul.menu li {
		display: inline-block;
		border-left: solid 1px #d2d7dc;
		padding-left: 1em;
		margin-left: 1em;
	}

	ul.menu li:first-child {
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
	}

/* Table */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-top: solid 1px #D2D7DC;
			}

				table.default tbody tr:nth-child(2n+1) {
					background: #f9fbfe;
				}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				font-weight: 400;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default tfoot {
				border-top: solid 1px #D2D7DC;
			}

/* Button */
	.button {
		color: inherit;
		background: none;
		text-decoration: none;
		border: solid 1px #c2c7cc;
		border-radius: 0.35em;
		padding: 0.5em 2em 0.5em 2em;
		cursor: pointer;
		outline: 0;
	}

	.button:hover {
		color: #f35858;
		border-color: rgba(243, 88, 88, 0.5);
		}

/* Wrappers */

	.wrapper {
		position: relative;
		background: #fff;
		overflow-x: hidden;
		padding: 6em 0 6em 0;
	}

	.imagen-wrapper {
		position: relative;
	}

		.imagen-wrapper .imagen {
			position: relative;
			z-index: 2;
		}

		.imagen-wrapper.first:before {
			content: '';
			display: block;
			width: 2000%;
			height: 100%;
			position: absolute;
			left: -1000%;
			top: 0;
			z-index: 1;
			box-shadow: inset 0px 0px 0px 1px #e8e8e8;
			background: #f6f8fb url("imagens/imagen-wrapper.svg");
		}

	#header-wrapper {
		position: relative;
		padding: 4em 0 2em 0;
		background-color: #0BB5D4;
		background-size: 100% 620%;
		background-size: 128px 128px, 100% 620%, auto;
		background-repeat: repeat, no-repeat, no-repeat;
	}

	.homepage #header-wrapper {
		padding: 10em 0 6em 0;
		background-size: 128px 128px, 100% 100%, auto;
	}

	#idea-wrapper {
		position: relative;
		background: #ff4b1f;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-position: top left, center center;
		color: #fff;
		text-align: center;
		padding: 6em 0 6em 0;
	}

	#foot-wrapper {
		-webkit-transform: translate3d(0, 0, 0);
		position: relative;
		border-top: solid 1px #c2c7cc;
		padding: 6em 0 6em 0;
		background-size: 128px 128px,100% 100%;
	}

/* Header */

	#logo {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		width: 15em;
		margin-left: -7.5em;
	}

		#logo a {
			display: block;
			width: 100%;
			height: 4em;
			line-height: 4em;
			background: rgba(255, 255, 255, 0.15);
			border: solid 1px;
			border-color: #fff;
			border-color: rgba(255, 255, 255, 0.75);
			border-top: 0;
			border-radius: 0 0 0.35em 0.35em;
			color: #fff;
			display: inline-block;
			font-weight: 600;
			letter-spacing: 3px;
			text-align: center;
			text-transform: uppercase;
		}

	#nav {
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4em;
		line-height: 4em;
	}

		#nav > ul {
			margin: 0;
		}

			#nav > ul > li {
				display: inline-block;
				margin-left: 1em;
			}

				#nav > ul > li > ul {
					display: none;
				}

				#nav > ul > li > span, #nav > ul > li > a {
					color: #fff;
					text-decoration: none;
					outline: 0;
					border: 0;
					border: solid 1px rgba(255, 255, 255, 0);
					border-radius: 0.35em;
					padding: 0.3em 1em 0.3em 1em;
					-moz-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					-webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					-o-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					-ms-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
					transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
				}

				#nav > ul > li.active > span, #nav > ul > li.active > a {
					border-color: rgba(255, 255, 255, 0.75);
					background-color: rgba(255, 255, 255, 0.15);
					color: #fff;
				}

				#nav > ul > li:first-child {
					margin-left: 0;
				}

				#nav > ul > li.break {
					margin-left: 20em;
				}

	.dropotron {
		text-align: left;
		line-height: 2em;
		border-radius: 0.35em;
		min-width: 12em;
		background: #fff;
		line-height: 1em;
		padding: 0.85em 0 0.85em 0;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
		margin-top: -0.8em;
		list-style: none;
	}

		.dropotron a, .dropotron span {
			display: block;
			padding: 0.65em 1em 0.65em 1em;
			border-top: solid 1px #e8e8e8;
			border-bottom: 0;
		}

		.dropotron li {
			padding-left: 0;
		}

			.dropotron li:first-child > a, .dropotron li:first-child > span {
				border-top: 0;
			}

			.dropotron li.active > a, .dropotron li.active > span {
				color: #f35858;
			}

		.dropotron.level-0 {
			font-size: 0.9em;
			margin-top: 0;
		}

			.dropotron.level-0:before {
				content: '';
				position: absolute;
				top: -1em;
				width: 1em;
				height: 1em;
				border-bottom: solid 0.5em #fff;
				border-left: solid 0.5em rgba(255, 255, 255, 0);
				border-right: solid 0.5em rgba(255, 255, 255, 0);
			}

			.dropotron.level-0.center:before {
				left: 50%;
				margin-left: -0.5em;
			}

			.dropotron.level-0.left:before {
				left: 1em;
			}

			.dropotron.level-0.right:before {
				right: 1em;
			}

/* first-text */

	#first-text {
		position: relative;
		color: #fff;
		text-align: center;
		z-index: 1;
	}

		#first-text h2 {
			color: #fff;
			font-size: 3em;
		}

		#first-text strong {
			color: inherit;
		}

		#first-text header > span {
			color: #fff;
		}

		#first-text p {
			font-size: 1.5em;
			line-height: 1.5em;
		}

		#first-text .button {
			background: #fff;
			border-color: rgba(255, 255, 255, 0);
			color: #f08c89;
			font-size: 1.25em;
		}

		#first-text .button:hover {
			border-color: rgba(255, 255, 255, 0.75);
			background-color: rgba(255, 255, 255, 0.15);
			color: #fff;
		}

		#first-text a {
			color: #fff;
			border-color: #fff;
			border-color: rgba(255, 255, 255, 0.5);
		}

			#first-text a:hover {
				border-color: rgba(255, 255, 255, 0);
			}

/* idea */

	#idea {
		background: rgba(255, 255, 255, 0.05);
		border: solid 1px rgba(255, 255, 255, 0.25);
		border-radius: 0.5em;
		padding: 1.75em 2.5em 1.75em 2.5em;
		display: inline-block;
		position: relative;
		z-index: 1;
	}

		#idea h2 {
			color: #fff;
			display: inline-block;
			margin-right: 1em;
			font-size: 1.75em;
		}

		#idea .button {
			background: #fff;
			border-color: rgba(255, 255, 255, 0);
			color: #27636B;
			font-size: 1.25em;
		}

			#idea .button:hover {
				border-color: rgba(255, 255, 255, 0.75);
				background-color: rgba(255, 255, 255, 0.15);
				color: #fff;
			}

/* Main */

	#main {
		padding-bottom: 4em;
	}

/* Sidebar */

	#sidebar section {
		border-top: solid 1px #d2d7dc;
		margin-top: 3em;
		padding-top: 3em;
	}

		#sidebar section:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

/* foot */

	#foot {
		position: relative;
		z-index: 1;
	}

		#foot header.major {
			margin-bottom: 3em;
		}

/* Copyright */

	#copyright {
		position: relative;
		z-index: 1;
		text-align: center;
		border-top: solid 1px #d2d7dc;
		color: #a2a7ac;
		padding-top: 4em;
		margin-top: 6em;
	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				line-height: 1.5em;
				font-size: 13pt;
			}

			span.extra {
				display: none;
			}

		/* Wrappers */

			.wrapper {
				padding: 5em 0 5em 0;
			}

			#header-wrapper {
				padding: 2em 0 2em 0;
			}

			.homepage #header-wrapper {
				padding: 8em 0 4em 0;
			}

			#idea-wrapper {
				padding: 5em 0 5em 0;
			}

			#foot-wrapper {
				padding: 5em 0 5em 0;
			}

	}

/* Narrow */

	@media screen and (max-width: 1080px) {

		/* Sections/Article */

			header br {
				display: none;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				padding-left: 1.25em;
				padding-right: 1.25em;
			}

		/* Wrappers */

			.wrapper {
				padding: 4em 2em 4em 2em;
			}

			#header-wrapper {
				padding: 5em 0 1em 0;
			}

			.homepage #header-wrapper {
				padding: 5em 0 4em 0;
			}

			#idea-wrapper {
				padding: 2em;
			}

			#foot-wrapper {
				padding: 4em 2em 4em 2em;
			}

		/* Header */

			#nav {
				position: relative;
				margin: 0.5em 0 0 0;
				line-height: 2.25em;
				height: 2.25em;
			}

				#nav > ul > li {
					margin-left: 0;
				}

					#nav > ul > li.break {
						margin-left: 0;
					}

			.dropotron.level-0 {
				margin-top: 1.1em;
			}

		/* first-text */

			#first-text {
				padding: 3.5em 4em 0 4em;
			}

				#first-text h2 {
					font-size: 2.75em;
				}

				#first-text p br {
					display: none;
				}

		/* idea */

			#idea {
				padding: 1.75em 2.5em 1.75em 2.5em;
				display: inline-block;
			}

				#idea .button {
					font-size: 1.25em;
				}

				#idea h2 {
					display: block;
					margin: 0 0 1em 0;
					font-size: 1.5em;
				}

		/* Copyright */

			#copyright {
				padding-top: 2em;
				margin-top: 3em;
			}

	}

/* Narrower */

	@media screen and (max-width: 820px) {

		/* Basic */

			body, input, textarea, select {
				line-height: 1.5em;
				font-size: 14pt;
			}

			span.extra {
				display: inline;
			}

			.features {
				margin-bottom: 0;
			}

		/* Sections/Article */

			section, article {
				margin-bottom: 3em;
			}

			.row > section, .row > article {
				margin-bottom: 3em;
			}

			section:last-child,
			article:last-child {
				margin-bottom: 0;
			}

			.row > section:last-child,
			.row > article:last-child {
				margin-bottom: 0;
			}

		/* Menu */

			ul.menu {
				text-align: center;
			}

				ul.menu li {
					display: block;
					border: 0;
					padding: 0;
					margin: 0;
					line-height: 2em;
				}

					ul.menu li:first-child {
						border-top: 0;
					}

		/* accion */

			ul.accion.major {
				padding-top: 2em;
			}

		/* Header */

			#nav {
				font-size: 0.9em;
			}

				#nav > ul > li > span, #nav > ul > li > a {
					padding: 0.25em 0.5em 0.25em 0.5em;
				}

		/* first-text */

			#first-text h2 {
				font-size: 2.5em;
			}

		/* Main */

			#main {
				padding-bottom: 0;
			}

		/* Content */

			#content {
				margin-bottom: 3em;
			}

		/* Sidebar */

			#sidebar {
				margin-bottom: 3em;
			}

				#sidebar section {
					border-top: 0;
					margin-top: 0;
					padding-top: 1em;
				}

		/* foot */

			#foot header.major {
				margin-bottom: 1.5em;
			}

	}

/* Mobile */

	#navPanel, #navButton {
		display: none;
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				font-size: 13pt;
				letter-spacing: 0;
			}

			h2 {
				font-size: 1.5em;
				line-height: 1.25em;
			}

		/* Sections/Article */

			header {
				margin-bottom: 1em;
			}

				header > p {
					font-size: 1em;
				}

		/* division */

			ul.division li {
				padding-top: 0.75em;
				margin-top: 0.75em;
			}

		/* Wrappers */

			.wrapper {
				padding: 3em 20px 3em 20px;
			}

			#header-wrapper {
				padding: 3em 20px 20px 20px;
				text-align: center;
			}

			.homepage #header-wrapper {
				padding: 3em 20px 3em 20px;
			}

			#idea-wrapper {
				padding: 20px;
			}

			#foot-wrapper {
				padding: 3em 20px 3em 20px;
			}

		/* Header */

			#logo {
				position: relative;
			}

				#logo a {
					border: solid 1px rgba(255, 255, 255, 0.75);
					border-radius: 0.35em;
					height: 3em;
					line-height: 3em;
				}

		/* Nav */

			#nav {
				display: none;
			}

		/* foot */

			#foot ul.division {
				margin: 0;
			}

				#foot ul.division li:first-child {
					border-top: solid 1px #d2d7dc;
					padding-top: 0.75em;
					margin-top: 0.75em;
				}

				#foot ul.division:first-child li:first-child {
					border-top: 0;
					padding-top: 0;
					margin-top: 0;
				}

		/* first-text */

			#first-text {
				padding: 2.5em 2em 0 2em;
			}

				#first-text header {
					margin: 0 0 1.25em 0;
				}

					#first-text header h2 {
						font-size: 1.5em;
					}

				#first-text p {
					font-size: 1em;
				}

		/* Menu mobil */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#navButton {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
			}

				#navButton .toggle {
					text-decoration: none;
					border: 0;
					height: 100%;
					left: 0;
					outline: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}

					#navButton .toggle:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						line-height: 1;
						text-transform: none !important;
						font-family: 'Font Awesome 5 Free';
						font-weight: 900;
					}

					#navButton .toggle:before {
						background: rgba(128, 132, 136, 0.35);
						border-radius: 0 0 0.35em 0.35em;
						border-top: 0;
						color: #fff;
						content: '\f0c9';
						display: block;
						font-size: 18px;
						height: 30px;
						left: 50%;
						line-height: 30px;
						margin-left: -40px;
						position: absolute;
						text-align: center;
						text-decoration: none;
						width: 80px;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateY(-50vh);
				-webkit-transform: translateY(-50vh);
				-ms-transform: translateY(-50vh);
				transform: translateY(-50vh);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 100%;
				height: 50vh;
				z-index: 10002;
				box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.25);
				font-size: 1em;
				background-color: #45474a;
				background-size: 128px 128px, 100% 100%, 100% 100%;
			}

				#navPanel .link {
					position: relative;
					z-index: 1;
					display: block;
					text-decoration: none;
					padding: 0.75em;
					color: #ddd;
					border: 0;
					border-top: dotted 1px rgba(255, 255, 255, 0.1);
				}

					#navPanel .link.depth-0 {
						color: #fff;
						font-weight: 400;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateY(50vh);
				-webkit-transform: translateY(50vh);
				-ms-transform: translateY(50vh);
				transform: translateY(50vh);
			}

			body.navPanel-visible #navButton {
				-moz-transform: translateY(50vh);
				-webkit-transform: translateY(50vh);
				-ms-transform: translateY(50vh);
				transform: translateY(50vh);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}

	}

/* Mobil (Menu Vista)*/

	@media screen and (max-width: 480px) {

			body, input, textarea, select {
				font-size: 12pt;
				letter-spacing: 0;
			}

			.feature {
				text-align: left;
			}

			section, article {
				margin-bottom: 2em;
			}

			.row > section,
			.row > article {
				margin-bottom: 2em;
			}

			header.major {
				text-align: left;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				display: block;
				width: 100%;
				text-align: center;
			}

		/* Header */

			#logo {
				position: relative;
				left: 0;
				top: 0;
				margin: 0;
				width: 100%;
			}

		/* first-text */

			#first-text {
				padding: 2.5em 0 0 0;
			}

		/* idea */

			#idea {
				padding: 20px;
			}

		/* Content */

			#content {
				margin-bottom: 2em;
			}

		/* Sidebar */

			#sidebar {
				margin-bottom: 2em;
			}

		/* foot */

			#foot header.major {
				margin-bottom: 1em;
			}

	}