main {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

main section {
    height: 80%;
    width: 50%;
    margin-top: 4%;
    border-top: 0.1px solid #707070;
    border-bottom: 0.1px solid #707070;
}
main section div.container-logo {
    width: 50%;
    margin-top: 7%;
}
main section div.container-logo img {
    width: 100%;
}
main section div.container-info-inJobs {
    width: 60%;
    margin-left: 18%;
}

main section.container-login-jobs div.container-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section.container-login-jobs div.container-login .container-title {
    margin-top: 5%;
}
main section.container-login-jobs div.container-login .container-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section.container-login-jobs div.container-login input {
    width: 60%;
    margin: 2%;
    background: #fff;
    border: 1px solid #00000021;
    border-radius: 5px;
}
main section.container-login-jobs div.container-login div.container-terminos{
    display: flex;
    width: 45%;
}

main section.container-login-jobs div.container-login div.container-terminos .check {
    width: 10%;
}


main section.container-login-jobs div.container-login .container-button .button-next {
    background: #FF9300;
    color: #fff;
    border-style: none;
    border-radius: 5px;
}

main section.container-login-jobs div.container-login .registrarse {
    margin-top: 2%;
}